.header {
  font-size: 45px;
  text-align: center;
  margin: 200px;
  color: antiquewhite;
}

.container {
  width: 40%;
  height: 60px;
  background-color: #ffffff;
  margin: 17em;
  margin-top: -9em;
  border-style: none;
  border-radius: 8px;
  border: 3px solid;
  margin-left: 25em;
  box-shadow: 2px 2px 4px #6f6f6f;
}

.container input {
  width: 98%;
  padding-top: 17px;
  border-style: none;
  font-size: 20px;
}

.container input:focus {
  outline: none;
  box-shadow: none;
}

::placeholder {
  color: black;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.deleteButton button {
  margin: 3em;
  margin-left: 13em;
  text-transform: uppercase;
  color: #5ab87d;
  border: none;
  background: transparent;
}

/* ///den fainetai to x button  */
.tasks button {
  font-size: 17px;
  color: "black";
  height: 25px;
  width: 25px;
  margin: auto;
  margin-left: 39em;
  line-height: 5em;
  display: inline-block;
}

.checkbox [type="checkbox"] {
  height: 25px;
  width: 25px;
  margin: auto;
  line-height: 5em;
  display: inline-block;
}

.checkbox [type="checkbox"]:checked {
  -webkit-appearance: none;
  background-color: white;
  color: black;
}
